{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Create an alias:
        <dd><input type=text size=30 name=alias>
          <dl>
        <dt>How old are you?:
        <dd><input type=text size=30 name=age>
          <dl>
        <dt>What is your annual income (before tax)?:
        <dd><input type=text size=30 name=income>
        <dl>
        <dt>What is your net worth?:
        <dd><input type=text size=30 name=worth>
        <dl>
        <dt>What is your twitter handle (no need for @; if you do not have one input "ACE")?:
        <dd><input type=text size=30 name=handle>
<dl>
<dt>Which choice describes your investment behaviour?:
<ul class=entries>
<input type="radio" name=preference value="a" id="q1a"><label for="q1a">Maximize Returns</label><br/>
<input type="radio" name=preference value="b" id="q1b"><label for="q1b">Minimize Risk</label><br/>
<input type="radio" name=preference value="c" id="q1c"><label for="q1c">Both Equally</label><br/>
</ul>
<dl>
<dt>Which choice describes your household?:
<ul class=entries>
<input type="radio" name=household value="a" id="q1a"><label for="q1a">Single income, no dependents</label><br/>
<input type="radio" name=household value="b" id="q1b"><label for="q1b">Single income, at least one dependent</label><br/>
<input type="radio" name=household value="c" id="q1c"><label for="q1c">Dual income, no dependents</label><br/>
<input type="radio" name=household value="d" id="q1d"><label for="q1d">Dual income, at least one dependent</label><br/>
<input type="radio" name=household value="e" id="q1e"><label for="q1e">Retired or financially Independent</label><br/>
</ul>
<dl>
<dt>Stock markets can be volatile. If your portfolio lost 10% in a month during a market decline, what you would do?:
<ul class=entries>
<input type="radio" name=action value="a" id="q1a"><label for="q1a">Sell all of your investments</label><br/>
<input type="radio" name=action value="b" id="q1b"><label for="q1b">Sell worst performing stocks</label><br/>
<input type="radio" name=action value="c" id="q1c"><label for="q1c">Do nothing, keep all of your stocks</label><br/>
<input type="radio" name=action value="d" id="q1d"><label for="q1d">Buy more at a cheaper price</label><br/>
</ul>
</dl>
<dd><input type=submit value=Submit>
</dl>Click submit to view your portfolio!

</form>
{% endif %}

<ul class=entries>

{% for entry in entries[0:1] %}
<li><h2>{{ "Your Name:" }}</li><h2>{{ entries[2].alias|safe }}</h2>
<li><h2>{{ "Your Risk Score 10 = Max:" }}</li><h2>{{ "%.2f" % entries[1].risk|float }}</h2>
<li><h2>{{ "Expected Return" }}</li><h2>{{ "%.2f" % entries[0].return|float + "%" }}</h2>
<li><h2>{{ "Ann. Volatility:" }}</li><h2>{{ "%.2f" % entries[0].vol|float + "%"}}</h2>
<li><h2>{{ "ETF Names and Weights:" }}</li><h2>{{ "MINT: %.2f" % entries[0].etf1 + "%", "EMB: %.2f" % entries[0].etf2 + "%", "IAU: %.2f" % entries[0].etf3 + "%", "VCIT: %.2f" % entries[0].etf4 + "%", "MUB: %.2f" % entries[0].etf5 + "%", "SCHA: %.2f" % entries[0].etf6 + "%", "VEA: %.2f" % entries[0].etf7 + "%", "VYM: %.2f" % entries[0].etf8 + "%", "SCHH: %.2f" % entries[0].etf9 + "%", "VWO: %.2f" % entries[0].etf10 +"%", "FENY: %.2f" % entries[0].etf11 +"%", "VTIP: %.2f" % entries[0].etf12 +"%", "VGLT: %.2f" % entries[0].etf13 +"%", "ITE: %.2f" % entries[0].etf14 +"%"}}</h2>
<p>
  <img src = "{{url_for('static', filename='plot.png')}}" />
</p>
<p>
  <img src = "{{url_for('static', filename='weights.png')}}" />
</p>
{% else %}
<li><em>Unbelievable.  No entries here so far</em>
{% endfor %}
</ul>
{% endblock %}
